@media only screen and (max-width: 768px) {
  .sidebar-toggler {
    display: block;
  }
}

@media(max-width:800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  
  .btn {
    display: block;
    width: fit-content;
    margin: auto;
  }

  p {
    font-size: 16x;
  }

  h1 {
    margin-top: 12px;
    font-size: 26px;
  }

  .recipe-card {
    flex-direction: column;
  }

  .hero-title {
    font-size: 30px;
  }

  .sidebar-toggler {
    height: 40px;
    width: 33px;
  }

  .search-bar {
    display: flex;
    font-size: small;
  }

  .search-input {
    display: none;
  }

  .sidebar-nav a {
    padding: none;
    font-size: 12px;
  }
}

  @media(max-width:1200px) {

    #menu {
      display: flex;
      /* justify-content: space-around; */
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: 2px auto;
    }

    .menu-item-container {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    p {
      font-size: 14px;
      text-align: justify;
      font-family: 'Overpass', sans-serif;
    }

    .hero-subtitle {
      text-align: center;
    }

    ul li a {
      font-size: 14px;
    }

    .hero::before {
      height: 580px;
    }

    .sidebar {
      width: 25%;
      max-width: 30%;
      left: -270px;
    }

    .sidebar.active {
      left: 0;
    }

    .sidebar-nav a {

      font-size: 17px;
    }

    .hero-description {
      text-align: center;
      color: black;
    }

    .hero-subtitle {
      font-size: 32px;
      margin-bottom: 0;
    }

    .hero {
      margin-top: -45px;
    }

    .featured-recipes {
      margin-top: 180px;
    }
  }

  @media only screen and (max-width: 768px) {


    .content {
      margin-left: 0;
      padding: 10px;
    }

    .hero {
      padding: 50px 0;
    }

    .hero-title {
      font-size: 32px;
    }

    .hero-subtitle {
      font-size: 18px;
    }

    .recipe-card {
      width: 100%;
    }

    .container {
      display: flex;
      flex: 0 0 30%;
    }

    .recipe-card {
      display: flex;

    }

    #menu {
      flex-direction: column;
      margin-top: 35px;
    }

    .about-content {
      flex-direction: column;
    }

    .about-content img {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 480px) {
    .sidebar {
      width: 100%;
    }

    .sidebar-toggler {
      top: 20px;
      left: 20px;
    }

    .content {
      margin-left: 0;
    }

    .hero {
      padding: 50px 0;
    }

    .hero-title {
      font-size: 32px;
    }

    .hero-subtitle {
      font-size: 18px;
    }

    .recipe-card {
      width: 90%;
      margin: 0 auto 15px;
    }

    .menu-item-container {
      margin: 10px;
    }

    .about-content {
      flex-direction: column;
    }

    form {
      max-width: 100%;
    }
  }

  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 30%;
    }

    .content {
      margin-left: 30%;
    }

    .hero {
      padding: 80px 0;
    }

    .hero-title {
      font-size: 42px;
    }

    .hero-subtitle {
      font-size: 22px;
    }

    .recipe-card {
      width: 75%;
      margin: 0 auto 15px;
      padding-bottom:15px ;
    }

    .menu-item-container {
      margin: 10px;
    }

    .about-content {
      flex-direction: column;
    }

    form {
      max-width: 90%;
    }
  }

  @media (min-width:1200px) {
    .container_recipes {
      display: flex;
    }

    .recipe-card {
      border-radius: 6px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }

    .recipe-card img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
